body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.car-detail-button {
    width:100%;
    height:100%;
    text-align:center;
    justify-content:center;
    align-items:center;
    display:flex;
}
a.btn.btn-warning.car-detail-button:hover {
    background-color: black;
    color: white;
}


/*--------------------FROM ADMIN UI------------------------------------------*/

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


input.form-control {
    color: black !important;
}

.p-3.border.bg-light {
    text-align: center;
    margin-top: 30px;
    background: linear-gradient(189deg, rgb(150,150,150), transparent);
}

select option {
    background-color: grey;
}

a.btn.car-detail-button {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.color-gradient {
    background: linear-gradient(16deg, rgba(69,115,110,1) 5%, rgba(21,51,91,1) 42%);
    font-weight: bold !important;
}

.btn-color-gradient {
    background: rgb(209,196,196);
    background: linear-gradient(16deg, rgba(209,196,196,1) 0%, rgba(64,86,115,1) 42%);
    font-weight: bold !important;
}

h4.title-color {
    background: linear-gradient(90deg, rgba(0,0,0,1) 20%, rgba(74,64,115,1) 73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2.big-title-color {
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(0,0,0,1) 20%, rgba(85,85,85,1) 73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

<!--

.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(circle, rgba(21,51,91,1) 94%, rgba(69,115,110,1) 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    color: white;
}

    .button-29:focus {
        box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    }

    .button-29:hover {
        box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
        transform: translateY(-2px);
    }

    .button-29:active {
        box-shadow: #3c4fe0 0 3px 7px inset;
        transform: translateY(2px);
    }

.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(circle, rgba(21,51,91,1) 94%, rgba(69,115,110,1) 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    color: white;
}

    .button-29:focus {
        box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    }

    .button-29:hover {
        box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
        transform: translateY(-2px);
    }

    .button-29:active {
        box-shadow: #3c4fe0 0 3px 7px inset;
        transform: translateY(2px);
    }

a.button-gnc {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(circle, rgba(29,157,199,1) 100%, rgba(104,163,241,1) 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

    a.button-gnc:focus {
        box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
        color: #ffff;
    }

    a.button-gnc:hover {
        box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
        color: #ffff;
        text-decoration: none;
        transform: translateY(-2px);
    }

    a.button-gnc:active {
        box-shadow: #3c4fe0 0 3px 7px inset;
        color: #ffff;
        transform: translateY(2px);
    }

a.button-delete {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(circle, rgba(29,157,199,1) 0%, rgba(138,0,3,1) 0%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

    a.button-delete:focus {
        box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
        color: #ffff;
    }

    a.button-delete:hover {
        box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
        color: #ffff;
        text-decoration: none;
        transform: translateY(-2px);
    }

    a.button-delete:active {
        box-shadow: #3c4fe0 0 3px 7px inset;
        color: #ffff;
        transform: translateY(2px);
    }

}


.tooltip {
    position: relative;
    display: contents !important;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 240px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

.fw-bold {
    font-size: 15px;
}

.table-custom-css {
    width: 100%;
    background: rgb(255,255,255,0.5);
}

a.button-add {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(circle, rgb(29 199 89) 100%, rgba(104,163,241,1) 100%);
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

    a.button-add:focus {
        box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
        color: #ffff;
    }

    a.button-add:hover {
        box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
        color: #ffff;
        text-decoration: none;
        transform: translateY(-2px);
    }

    a.button-add:active {
        box-shadow: #3c4fe0 0 3px 7px inset;
        color: #ffff;
        transform: translateY(2px);
    }


.dot {
    height: 15px !important;
    width: 15px !important;
    background-color: #dd2222 !important;
    border-radius: 50% !important;
    display: inherit !important;
}