
@{
    ViewBag.Title = "CarDetailInformation";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


@using (Html.BeginForm("CarDetailInformation", "Car", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="container px-4" style="margin-top:50px;">
    <div class="row gx-5">
        <h5>Araç Detayları</h5>
        <div class="col">
            <div class="p-3 border bg-light">
                <div class="row">
                    <div class="col">
                        <label class="fw-bold">Bireysel/Kurumsal</label>

                        @Html.DropDownList("BireyselOrKurumsal", new List<SelectListItem> { new SelectListItem { Text = "Bireysel", Value = "1" }, new SelectListItem { Text = "Kurumsal", Value = "2" } }, htmlAttributes: new { @class = "form-select" })
                    </div>
                    <div class="col">
                        <label class="fw-bold">Kurumsal Şirket Adı</label>
                        @Html.DropDownList("CompanyNamew", new List<SelectListItem> { new SelectListItem { Text = "İnce Otomativ", Value = "1" }, new SelectListItem { Text = "Şahin Filo", Value = "2" } }, htmlAttributes: new { @class = "form-select" })
                    </div>
                    <div class="col">
                        <label class="fw-bold">Statü</label>
                        @Html.DropDownList("CarStatus", new List<SelectListItem> { new SelectListItem { Text = "Giriş", Value = "1" }, new SelectListItem { Text = "Hemen Al Satış", Value = "2" } }, htmlAttributes: new { @class = "form-select" })
                    </div>
                    <div class="col">
                        <label class="fw-bold">Araç Fiyat</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <h5>Araç Detayları</h5>
            <div class="p-3 border bg-light">
                <div class="row">
                    <div class="col">
                        <label class="fw-bold">Araç Marka</label>
                        @Html.DropDownList("CarBrand", new List<SelectListItem> { new SelectListItem { Text = "Ford", Value = "1" }, new SelectListItem { Text = "Aston Martin", Value = "2" } }, htmlAttributes: new { @class = "form-select" })
                    </div>
                    <div class="col">
                        <label class="fw-bold">Araç Model</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="fw-bold">Gövde Tipi</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col">
                        <label class="fw-bold">Yıl</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="fw-bold">Yakıt Tipi</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="fw-bold">Vites Tipi</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col">
                        <label class="fw-bold">Versiyon</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="fw-bold">Kilometre Bilgisi</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col">
                        <label class="fw-bold">Renk</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col">
                        <label class="fw-bold">Donanım</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col">

                    </div>
                    <div class="col">

                    </div>
                </div>
            </div>
        </div>
        <h5>Fotoğraf Ekle</h5>
        <div class="col">
            <div class="p-3 border bg-light" style="height:100%;">
                <div class="row">
                    <div class="col">
                        <label class="fw-bold"><i class="fa-solid fa-camera"></i> Fotoğraf Ekle</label>
                        <br/>
                        <br/>
                        <input class="form-control" type="file" id="formFileMultiple" multiple>

                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="p-3 border bg-light">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="fw-bold">Açıklama</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

}
