@using SecondHandCarBidProject.UserUI.GUI.Models
@model SecondHandCarBidProject.UserUI.GUI.ViewModels.NotificationMessageAddViewModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="mt-2 p-3" style="box-shadow:  6px 20px 40px #000000;border-radius:10px ">

    <h4 style="text-align:center" >Mesajlarım</h4>

  
    <div class="table-responsive">
        <table class="table-bordered table-custom-css">
            <thead class="thead color-gradient" style="color: #ffff;">
                <tr>
                    <th scope="col">Mesaj İçeriği</th>
                    <th scope="col">Tarih</th>
                    <th scope="col">Gönderen Kişi Kişi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Otto</td>
                </tr>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Mark</td>
                </tr>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Mark</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>