@using SecondHandCarBidProject.UserUI.GUI.Models
@model SecondHandCarBidProject.UserUI.GUI.ViewModels.NotaryFeeAddViewModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="mt-2 p-3" style="box-shadow:  6px 20px 40px #000000;border-radius:10px ">

    <h4 style="text-align:center" >Noter Ücret Bilgileri</h4>

  
    <div class="table-responsive">
        <table class="table-bordered table-custom-css">
            <thead class="thead color-gradient" style="color: #ffff;">
                <tr>
                    <th scope="col">Ücret Miktarı</th>
                    <th scope="col">Başlangıç Tarihi</th>
                    <th scope="col">Bitiş Tarihi</th>
                    <th scope="col">Kayıt Tarihi</th>
                    <th scope="col">Düzenlenme Tarihi</th>
                    <th scope="col">Kayıt Yapan Kişi</th>
                    <th scope="col">Düzenleme Yapan Kişi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>12312</td>
                </tr>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Mark</td>
                    <td>Mark</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>123213</td>
                </tr>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>213213</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>