@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-6 col-sm-6 col-md-6">
                <h4>Recai</h4>
                <div class="tenor-gif-embed" data-postid="15394859" data-share-method="host" data-aspect-ratio="1.73913" data-width="100%"><a href="https://tenor.com/view/sweating-wet-wipe-gif-15394859">Sweating Wet GIF</a>from <a href="https://tenor.com/search/sweating-gifs">Sweating GIFs</a></div>
                <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
                <h4>Alican</h4>
                <img src="https://media.giphy.com/media/wh4f9iW5vCjgQ/giphy.gif" height="350" />
            </div>
        </div>
        <div class="row justify-content-center">
            <p class="fw-bold">Statü: Başarısız işlem</p>
            <p class="text-muted">Oops! Bir şeyler yanlış gitti.</p>
        </div>
    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
</body>
</html>
