
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2> Araçlarımız </h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">Tümü</li>
                            <li data-filter=".oranges">Bugatti</li>
                            <li data-filter=".fresh-meat">Bmw</li>
                            <li data-filter=".vegetables">Lamborghini</li>
                            <li data-filter=".fastfood">Ford</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg">
                            <img src="~/TemplateFiles/img/featured/bugtti2.jpg" />
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Araç Detayına Gidin</a></h6>
                            <h5>₺4.300.000</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix" >
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg">
                            <img src="~/TemplateFiles/img/featured/togg1.jpg" />
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Araç Detayına Gidin</a></h6>
                            <h5>₺900.000</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg">
                            <img src="~/TemplateFiles/img/featured/bugtti3.jpg" />

                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Araç Detayına Gidin</a></h6>
                            <h5>₺3.300.000</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg">
                            <img src="~/TemplateFiles/img/featured/bugtti4.jpg" />
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Araç Detayına Gidin</a></h6>
                            <h5>₺4.000.000</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg">
                            <img src="~/TemplateFiles/img/featured/bmw1.jpg" />
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Araç Detayına Gidin</a></h6>
                            <h5>₺3.300.000</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg">
                            <img src="~/TemplateFiles/img/featured/ford4.jpg" />
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Araç Detayına Gidin</a></h6>
                            <h5>₺3.000.000</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg">
                            <img src="~/TemplateFiles/img/featured/lamborghini1.jpg" />
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Araç Detayına Gidin</a></h6>
                            <h5>$₺2.800.000</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg">
                            <img src="~/TemplateFiles/img/featured/lamborghini3.jpg" />
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Araç Detayına Gidin</a></h6>
                            <h5>₺2.300.000</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Featured Section End -->
    <!-- Latest Product Section Begin -->
    <section class="latest-product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Kurumsal İhaleler</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/TemplateFiles/img/featured/lamborghini1.jpg" width="50" height="50" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h5>İlan Detayına Gidin</h5>
                                        <span>₺2.800.000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/TemplateFiles/img/featured/lamborghini3.jpg" width="50" height="50" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h5>İlan Detayına Gidin</h5>
                                        <span>$2.300.000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/TemplateFiles/img/featured/lamborghini2.jpeg"  width="50" height="50"alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h5>İlan Detayına Gidin</h5>
                                        <span>$2.390.000</span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/TemplateFiles/img/featured/lamborghini1.jpg"  width="50" height="50"alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h5>İlan Detayına Gidin</h5>
                                        <span>₺2.800.000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/TemplateFiles/img/featured/lamborghini3.jpg" width="50" height="50" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h5>İlan Detayına Gidin</h5>
                                        <span>$2.300.000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/TemplateFiles/img/featured/lamborghini2.jpeg" width="50" height="50" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h5>İlan Detayına Gidin</h5>
                                        <span>$2.390.000</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--******************************-->
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Bireysel İhaleler</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/TemplateFiles/img/featured/bugtti1.jpg" width="50" height="50" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h5>İlan Detayına Gidin</h5>
                                        <span>>₺4.300.000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/TemplateFiles/img/featured/bugtti2.jpg" width="50" height="50" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h5>İlan Detayına Gidin</h5>
                                        <span>>₺3.300.000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/TemplateFiles/img/featured/ford1.jpg"  width="50" height="50"alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h5>İlan Detayına Gidin</h5>
                                        <span>₺4.000.000</span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/TemplateFiles/img/featured/bugtti1.jpg" width="50" height="50" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h5>İlan Detayına Gidin</h5>
                                        <span>>₺4.300.000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/TemplateFiles/img/featured/bugtti2.jpg" width="50" height="50" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h5>İlan Detayına Gidin</h5>
                                        <span>>₺3.300.000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/TemplateFiles/img/featured/ford1.jpg" width="50" height="50" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h5>İlan Detayına Gidin</h5>
                                        <span>₺4.000.000</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--*********************************************-->
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>İlanlar</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/TemplateFiles/img/featured/audi1.jpg" width="50" height="50" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h5>İlan Detayına Gidin</h5>
                                        <span>₺2.800.000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/TemplateFiles/img/featured/togg1.jpg" width="50" height="50" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h5>İlan Detayına Gidin</h5>
                                        <span>₺4.000.000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/TemplateFiles/img/featured/ford4.jpg" width="50" height="50" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h5>İlan Detayına Gidin</h5>
                                        <span>>₺3.000.000</span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/TemplateFiles/img/featured/audi1.jpg" width="50" height="50" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h5>İlan Detayına Gidin</h5>
                                        <span>₺2.800.000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/TemplateFiles/img/featured/togg1.jpg" width="50" height="50" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h5>İlan Detayına Gidin</h5>
                                        <span>₺4.000.000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/TemplateFiles/img/featured/ford4.jpg" width="50" height="50" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h5>İlan Detayına Gidin</h5>
                                        <span>>₺3.000.000</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


