
@{
    ViewBag.Title = "BidList";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    var GelenListe = (List<string>)ViewBag.Liste;
}

@using (Html.BeginForm("BidList", "Bid", FormMethod.Post))
{
    <div class="container px-4" style="margin-top:50px;">
        <h5>Kriterler</h5>
        <div class="row gx-5">
            <div class="col">
                <label>İhale Adı :</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label>Bireysel/Kurumsal :</label>
                @Html.DropDownList("Bireysel/Kurumsal", new List<SelectListItem> { new SelectListItem { Text = "Bireysel", Value = "1" }, new SelectListItem { Text = "Kurumsal", Value = "2" } }, htmlAttributes: new { @class = "form-select" })
            </div>
            <div class="col">
                <label>Statü :</label>
                @Html.DropDownList("Statü", new List<SelectListItem> { new SelectListItem { Text = "Statü 1", Value = "1" }, new SelectListItem { Text = "Statü 2", Value = "2" } }, htmlAttributes: new { @class = "form-select" })
            </div>
        </div>
        <div class="row gx-5 " style="margin-top:50px;width:100px;height:30px;float:right">
            <input type="submit" style="" value="Listele" />
        </div>
        <div class="row gx-5" style="margin-top: 100px">
            <h5>İhale Listesi</h5>
            @if (GelenListe.Count > 0)
            {
                <table class="table table-striped mb-0">
                    <thead style="background-color: #002d72;">
                        <tr>
                            <th scope="col">
                                İhale id
                            </th>
                            <th scope="col">
                                İhale Adı
                            </th>
                            <th scope="col">
                                Bireysel/Kurumsal
                            </th>
                            <th scope="col">
                                İhale Başlangıç
                            </th>
                            <th scope="col">
                                İhale Bitiş
                            </th>
                            <th scope="col">
                                Statü
                            </th>
                            <th scope="col">
                                Kaydeden Kul
                            </th>
                            <th scope="col">
                                Kaydetme Zamanı
                            </th>
                            <th scope="col">
                                Güncelle
                            </th>
                            <th scope="col">
                                Sil
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in GelenListe)
                        {
                            <tr>
                                <td>
                                    @item
                                </td>
                                <td>
                                    @item
                                </td>
                                <td>
                                    @item
                                </td>
                                <td>
                                    @item
                                </td>
                                <td>
                                    @item
                                </td>
                                <td>
                                    @item
                                </td>
                                <td>
                                    @item
                                </td>
                                <td>
                                    @item
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary"  value="Güncelle">Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" value="Sil">Sil</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h2>bulunamadı</h2>
            }
        </div>
        <div class="row gx-5 " style="margin-top:50px;width:100px;height:30px;float:right">
            <button type="button" style="color:black" value="Yeni">Yeni</button>
        </div>
    </div>
}
       