<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jvectormap/2.0.4/jquery-jvectormap.css" media="screen">
    <link href="~/Content/css/47.413e1e04.chunk.css" rel="stylesheet" />
    <link href="~/Content/css/main.e3b73339.chunk.css" rel="stylesheet" />
    <script charset="utf-8" src="~/Scripts/customJs/2.bacc7828.chunk.js"></script>
    <link href="~/Content/css/5.d8c2ab68.chunk.css" rel="stylesheet" />
    <script charset="utf-8" src="~/Scripts/customJs/5.7c737490.chunk.js"></script>
    <link href="~/Content/css/9.dfaeeccb.chunk.css" rel="stylesheet" />
    <script charset="utf-8" src="~/Scripts/customJs/9.2b67ddc6.chunk.js"></script>
    <link href="~/Content/css/193.4f3c47de.chunk.css" rel="stylesheet" />
    <script charset="utf-8" src="~/Scripts/customJs/193.9f82dc70.chunk.js"></script>
    <link href="~/Content/css/login.css" rel="stylesheet" />
</head>
<body style="background-color:#f4f5f7">
    <div style="height:100%;">
        @RenderBody()
    </div>


    <script src="~/Scripts/customJs/47.94202493.chunk.js"></script>
    <script src="~/Scripts/customJs/main.0d39ce71.chunk.js"></script>
    @*<script src="~/Scripts/customJs/login.js"></script>*@
</body>
</html>
