@using SecondHandCarBidProject.UserUI.GUI.Models
@model SecondHandCarBidProject.UserUI.GUI.ViewModels.NotaryFeeAddViewModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="mt-2 p-3" style="box-shadow:  6px 20px 40px #000000;border-radius:10px ">

    <h4 style="text-align:center">Şirket Bilgileri</h4>


    <div class="table-responsive">
        <table class="table-bordered table-custom-css">
            <thead class="thead color-gradient" style="color: #ffff;">
                <tr>

                    <th scope="col">Şirket Adı</th>
                    <th scope="col">Adres Bilgisi</th>
                    <th scope="col">Telefon Numarası</th>
                    <th scope="col">Şirket Tipi</th>
                    <th scope="col">Şirket Paket Tipi</th>
                    <th scope="col">Kayıt Tarihi</th>
                    <th scope="col">Düzenlenme Tarihi</th>
                    <th scope="col">Kayıt Yapan Kişi</th>
                    <th scope="col">Düzenleme Yapan Kişi</th>
                    <th scope="col">Güncelle</th>
                    <th scope="col">Sil</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>12312</td>
                    <td> <a href="UpdateCorporation" class=" m-2 p-2 button-gnc"><i class="fas fa-edit"></i>&nbsp;GÜNCELLE</a></td>
                    <td> <a href="#" class=" m-2 p-2 button-delete"><i class="far fa-trash-alt"></i>&nbsp;SİL</a></td>

                </tr>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>123213</td>
                    <td> <a href="UpdateCorporation" class=" m-2 p-2 button-gnc"><i class="fas fa-edit"></i>&nbsp;GÜNCELLE</a></td>
                    <td> <a href="#" class=" m-2 p-2 button-delete"><i class="far fa-trash-alt"></i>&nbsp;SİL</a></td>

                </tr>
            
            </tbody>
        </table>

    </div>
</div>