
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="container">
    <h2 style="text-align:center;margin-bottom:5px;">İlanlar</h2>
    <div class="row featured__filter">
        <div class="col-lg-3 col-md-4 col-sm-6 mix oranges">
            <div class="featured__item">
                <div class="featured__item__pic set-bg">
                    <img src="~/TemplateFiles/img/featured/bugtti2.jpg" />
                    <div class="text-center mt-1 pt-2">
                        <h4 style="color:white">Bugatti Veyron</h4>
                        <h5>₺4.300.000</h5>
                        <h5>19.10.2022</h5>
                    </div>
                    <ul class="featured__item__pic__hover">
                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="featured__item__text">
                    <a class="btn" href="#">İlan Detayına Gidin</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mix">
            <div class="featured__item">
                <div class="featured__item__pic set-bg">
                    <img src="~/TemplateFiles/img/featured/togg1.jpg" />
                    <div class="text-center mt-1 pt-2">
                        <h4 style="color:white">Togg Sedan</h4>
                        <h5>₺900.000</h5>
                        <h5>19.10.2022</h5>
                    </div>
                    <ul class="featured__item__pic__hover">
                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="featured__item__text">
                    <a class="btn" href="#">İlan Detayına Gidin</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mix oranges">
            <div class="featured__item">
                <div class="featured__item__pic set-bg">
                    <img src="~/TemplateFiles/img/featured/bugtti3.jpg" />
                    <div class="text-center mt-1 pt-2">
                        <h4 style="color:white">Bugatti Veyron</h4>
                        <h5>₺3.300.000</h5>
                        <h5>19.10.2022</h5>
                    </div>
                    <ul class="featured__item__pic__hover">
                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="featured__item__text">
                    <a class="btn" href="#">İlan Detayına Gidin</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mix oranges">
            <div class="featured__item">
                <div class="featured__item__pic set-bg">
                    <img src="~/TemplateFiles/img/featured/bugtti4.jpg" />
                    <div class="text-center mt-1 pt-2">
                        <h4 style="color:white">Bugatti Veyron</h4>
                        <h5>₺4.000.000</h5>
                        <h5>19.10.2022</h5>
                    </div>
                    <ul class="featured__item__pic__hover">
                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="featured__item__text">
                    <a class="btn" href="#">İlan Detayına Gidin</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat">
            <div class="featured__item">
                <div class="featured__item__pic set-bg">
                    <img src="~/TemplateFiles/img/featured/audi4.jpg" />
                    <div class="text-center mt-1 pt-2">
                        <h4 style="color:white">Audi A3</h4>
                        <h5>₺2.000.000</h5>
                        <h5>19.10.2022</h5>
                    </div>
                    <ul class="featured__item__pic__hover">
                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="featured__item__text">
                    <a class="btn" href="#">İlan Detayına Gidin</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood">
            <div class="featured__item">
                <div class="featured__item__pic set-bg">
                    <img src="~/TemplateFiles/img/featured/audi3.jpg" />
                    <div class="text-center mt-1 pt-2">
                        <h4 style="color:white">Auidi A6</h4>
                        <h5>₺4.000.000</h5>
                        <h5>19.10.2022</h5>
                    </div>
                    <ul class="featured__item__pic__hover">
                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="featured__item__text">
                    <a class="btn" href="#">İlan Detayına Gidin</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables">
            <div class="featured__item">
                <div class="featured__item__pic set-bg">
                    <img src="~/TemplateFiles/img/featured/lamborghini2.jpeg" />
                    <div class="text-center mt-1 pt-2">
                        <h4 style="color:white">Lamborghini Snake</h4>
                        <h5>₺4.000.000</h5>
                        <h5>19.10.2022</h5>
                    </div>
                    <ul class="featured__item__pic__hover">
                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="featured__item__text">
                    <a class="btn" href="#">İlan Detayına Gidin</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables">
            <div class="featured__item">
                <div class="featured__item__pic set-bg">
                    <img src="~/TemplateFiles/img/featured/lamborghini1.jpg" />
                    <div class="text-center mt-1 pt-2">
                        <h4 style="color:white">Lamborghini Bisi</h4>
                        <h5>₺4.000.000</h5>
                        <h5>19.10.2022</h5>
                    </div>
                    <ul class="featured__item__pic__hover">
                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="featured__item__text">
                    <a class="btn" href="#">İlan Detayına Gidin</a>
                </div>
            </div>
        </div>
    </div>
</div>

